.content{
    max-width: 100%;
    @include display-flex(flex);
    &.ls-toggle-menu{
        .sidebar{
            margin-left: -150px;
            @include transition(all .7s ease-in-out);
        }
        .info-content{
            margin-left: 0px;
        }
    }
    .sidebar{
        width: 200px;
        background: $white-color;
        @include transition(all .7s ease-in-out);
        ul.sidebar-li, ul.date-list{
            h2{
                text-transform: capitalize;
                width: 100%;
                padding: 11px 0px 11px 55px;
                font-size: .75rem;
                font-family: $avenir-heavy;
                color: $text-color;
                background-color: lighten($bg-dark, 5%);
                margin-bottom: 10px;
                line-height: 1;
            }
        }
        ul.sidebar-li{
            li{
                padding: 8px 0px 8px 55px;
                position: relative;
                    span.tooltip-list{
                        display: inline-block;
                        padding: 18px 0;
                        max-width: 190px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        z-index: 11;
                        font-family: $body-fonts;
                        position: absolute;
                        top: -30%;
                        left: 20%;
                        font-size: .5rem;
                        visibility: hidden;
                        background: $white-color;
                        @include radius(5px);
                        padding: 2px 15px;
                        line-height: 1.7;
                        border: .1rem solid $border-color;
                        .text{
                            padding: 18px 0;
                            width: 100%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                @include transition(all .4s ease-in-out);
                &:last-child{
                    margin-bottom: 0;
                }
                &:hover{
                    cursor: pointer;
                    color:  $text-color;
                    background-color: $red-light;
                    
                        span.tooltip-list{
                            visibility: visible;
                            &:hover{
                                .text{
                                    overflow: visible;
                                    max-width: 250px;
                                    white-space: normal;

                                }
                            }
                        }
                }
                &.active{
                    background: $red-light;
                    color: $text-color;
                }
                ul.sidebar-sublist{
                    margin-left: .975rem;
                    margin-top: .938rem;
                    position: relative;
                    top: 140%;
                    left: 0;
                    right: 0;
                    opacity: 0;
                    display: none;
                    @include transition(all .4s ease-in-out);
                    &.active-li{
                        top: 0;
                        opacity: 1;
                        display: block  ;
                        @include transition(all .4s ease-in-out);
                    }
                    li{
                        padding: 0;
                        margin-bottom: .875rem;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        &:hover{
                            opacity: .6;
                        }
                    }
                }
            }
        }
        ul.date-list{
            margin-top: 50px;
            h2{
                margin-bottom: 18px;
            }
            span{
                @include transition(all .6s ease-in-out); 
            }
            @include flex-hr-center;
            li{
                margin-left:10%;
                @include transition(all .6s ease-in-out);
                margin-bottom: 8px;
                border: 1px solid $primary-xs-light;
                padding: 5px 10px;
                @include radius(15px);
                text-align: center;
                color: $primary-light;
                &:last-child{
                    margin-top: 10px;
                    margin-bottom: 0;
                    border: 0;
                    &:hover{
                        background: none;
                        cursor: pointer;
                        .clear{
                            color: $bg-dark;
                        }
                    }
                }
                .clear{
                    color: $text-color;
                    font-size: 13px;
                    display: block;
                    text-align: left;
                }
                /* &:hover{
                    cursor: pointer;
                    color: $gray-light;
                    span{
                        color: $gray-light;
                    }
                    // background-color: $red-light;
                } */
                &:hover{
                    background: $red-light;
                    cursor: pointer;
                }
                &.active{
                    background: $red-light;
                    cursor: pointer;
                }
            }
           
        }
    }
    .info-content{
        width: calc(100% - 200px);
        background-color: $bg-color;
        padding: 40px 75px 20px;
        position: relative;
        a.toggle_button{
            width: 20px;
            height: 20px;
            @include display-flex(flex);
            @include align-items-center;
            @include justify-content-center;
            position: absolute;
            right: 40px;
            top: 18px;
            visibility: hidden;
            @include transition(all .6s ease-in-out);
            padding: 12px;
            &:hover{
                cursor: pointer;
                background-color: $bg-dark;
                @include radius(50%);
                
            }
            &.active{
                i{
                    transform: rotate(180deg);
                }
            }
            i{
                font-size: 18px;
                color: $text-color;
            }
        }
        .info-content-wrap{
            max-width: 1000px;
            width: 100%;
            .info-content-header{
                margin-bottom: 30px;
                padding-left: 12px;
                h1{
                    font-family: $avenir-heavy;
                    font-size: 26px;
                    color: $text-color;;
                    line-height: 1.75rem;
                    margin-bottom: 10px;
                }
                .info-header-top{
                    margin-top: 5px;
                    margin-bottom: 15px;
                    @include display-flex(flex);
                    @include justify-content-between;
                    @include align-items-center;
                    span.span_black_15{
                        color: $red-color;
                        text-transform: uppercase;  
                        letter-spacing: 1.125px;
                    }
                }
                .info-header-bottom{
                    @include display-flex(flex);
                    @include justify-content-end;
                    @media #{$breakpoint-sm}{
                        justify-content: flex-start;
                    }
                    .option-wrap{
                        @include display-flex(flex);
                        .span-option{
                            font-size: .656rem;
                            color: $primary-light;
                            margin-right: 10px;
                        }
                        .chart{
                            margin-left: 40px;
                        }
                        .data{
                            .data-wrap{
                                @include transition(all .7s ease-in-out);
                                position: relative;
                                span{
                                    padding: 2px 31px 2px 15px !important;
                                    position: relative;
                                    &:after{
                                        right: 2px;
                                        left: auto;
                                        top: -3px;
                                        position: absolute;
                                        font-family: 'Material Icons';
                                        content: 'arrow_drop_down';
                                        font-size: 1.05rem;
                                        color: $primary-light;
                                    }
                                    &.span-active{
                                        &:after{
                                            content: 'arrow_drop_up';
                                        }
                                    }
                                }
                                ul.ul-dropdown{
                                    box-shadow: 0 1px 6px 3px $primary-xs-light;
                                    background-color: $white-color;
                                    @include transition(all .4s linear);
                                    position: absolute;
                                    z-index: 1;
                                    visibility: hidden;
                                    opacity: 0;
                                    top: 140%;
                                    &.active{
                                        visibility: visible;
                                        opacity: 1;
                                        top: 110%;
                                    }
                                    li{
                                        padding: 4px 20px;
                                        @include transition(all .4s linear);
                                        font-size: .688rem;
                                        color: $primary-light ;
                                        font-family: $avenir-heavy;
                                        &:hover{
                                            @include transition(all .4s linear);
                                            color: $text-color;
                                            cursor: pointer;
                                            background-color: $red-light;
                                        }
                                    }
                                }
                            }
                        }
                        .data, .chart{
                            @include display-flex(flex);
                            @include align-items-center;
                            .data-wrap, .chart-wrap{
                                @include display-flex(flex);
                                @include align-items-center;
                                @include justify-content-center;
                                span{
                                    &:last-child{
                                        margin-left: 8px;
                                    }
                                    font-family: $avenir-heavy;
                                    font-size: .703rem;
                                    color: $text-color;
                                    padding: 2px 15px;
                                    background: $white-color;
                                    border: 1px solid $primary-xs-light;
                                    @include transition(all .3s ease-in-out);
                                    @include radius(20px);
                                    &:hover{
                                        cursor: pointer;
                                        background-color: $red-light;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .info-slider{
                position: relative;
                .download-icon-image{
                    z-index: 1;
                    padding: 4px;
                    position: absolute;
                    left: auto;
                    right: 0px;
                    top: 15px;
                    @include display-flex(flex);
                    @include justify-content-center;
                    @include align-items-center;
                    @include transition(all .6s ease-in-out);
                    img{
                        width: 18px;
                        height: 18px;
                    }
                    &:hover{
                        cursor: pointer;
                        background: $red-light;
                        img{
                            opacity: .5;
                        }
                    }
                }
                .slider-container{
                    #chart{
                        // height: 100%;
                        .apexcharts-toolbar{
                            display: none;
                            right: 20px !important;
                            .apexcharts-pan-icon, .apexcharts-reset-icon, .apexcharts-menu-icon, .apexcharts-menu{
                                display: none;
                            }
                        }
                    }
                    .slick-prev, .slick-next{
                        background-color: $primary-xs-light;
                        width: 30px;
                        height: 30px;
                        top: 11rem;
                        bottom: auto;  
                        border: 0;
                        border-radius: 0;
                        @include transition(all .5s linear);
                        
                        &:hover{
                            background: $red-light;
                            &:before{
                                color: $red-color;
                            }
                        }
                    }
                    .slick-prev{
                        left: -5%;
                        right: auto;
                        &::before{
                            font-family: 'Material Icons';
                            content: 'keyboard_arrow_left';
                            color: $text-color;
                            font-size: 18px;
                        }
                    }
                    .slick-next{
                        right: -8%;
                        left: auto;
                        &::before{
                            font-family: 'Material Icons';
                            content: 'keyboard_arrow_right';
                            color: $text-color;
                        }
                    }
                }
            }
            .info-content-footer{
                background-color: $red-light;
                @include radius(5px);
                padding: 18px 30px;
                margin-left: 30px;
                margin-top: 20px;
                .span_book_14{
                    color: $primary-light;
                    line-height: 1.4;
                }
            }
        }
    }
}

@media #{$breakpoint-lg-laptop}{
    .content{
        .sidebar{
            width: 250px;
            ul.sidebar-li{
                h2{
                    padding: 15px 0px 15px 70px;
                    font-size: .938rem;
                }
                li{
                    padding: 15px 0px 14px 70px;
                }
            }
            ul.date-list{
                h2{
                    padding: 15px 0px 15px 70px;
                    margin-bottom: 30px;
                    font-size: .938rem;
                }
                li{
                    margin-left: 15%;
                    padding: 8px 15px;
                    margin-bottom: 12px;
                }
            }
        }
        .info-content{
            width: calc(100% - 250px);
            padding: 50px 100px 25px;
            .info-content-wrap{
                max-width: 1100px;
                .info-content-header{
                    margin-bottom: 45px;
                    padding-left: 12px;
                    .info-header-top{
                        margin-top: 5px;
                        margin-bottom: 16px;
                    }
                    .info-header-bottom{
                        .option-wrap {
                            .span-option {
                                font-size: .875rem;
                            }
                            .data{
                                .data-wrap {
                                    span{
                                        font-size: .938rem;
                                        padding: 8px 45px 7px 15px !important;
                                        &:after{
                                            font-size: 1.525rem;
                                            top: -1px;
                                        }
                                    }
                                    ul.ul-dropdown li {
                                        font-size: .938rem;
                                    }
                                }
                            }  
                            .chart {
                                margin-left: 55px;
                               .chart-wrap { 
                                    span{
                                        font-size: .938rem;
                                    }
                               }
                            }
                        }
                    }
                } 
                .info-slider{
                    .download-icon-image {
                        img {
                            width: 22px;
                            height: 22px;
                        }
                    }
                    .slider-container{
                        .slick-prev, .slick-next{
                            width: 36px;
                            height: 36px;
                            &::before{
                                font-size: 20px;
                            }
                        }
                    } 
                } 
                .info-content-footer {
                    @include radius(8px);
                    padding: 22px 40px;
                }
            }
        }
    }
}

@media #{$breakpoint-xxl}{
    .content{
        .sidebar{
            width: 300px;
            ul.sidebar-li{
                h2{
                    font-size: .938rem;
                    padding: 18px 0px 18px 85px;
                }
                li{
                    padding: 18px 0px 18px 85px;
                    ul.sidebar-sublist {
                        margin-left: 1.5rem;
                        margin-top: 1.5rem;
                        li{
                            margin-bottom: 1.2rem;
                        }
                    }
                }
            }
            ul.date-list{
                h2{
                    font-size: .938rem;
                    padding: 15px 0px 15px 85px;
                    margin-bottom: 30px;
                }
                li{
                    margin-left: 15%;
                    padding: 8px 15px;
                    margin-bottom: 15px;
                }
            }
        }
        .info-content{
            width: calc(100% - 300px);
            padding: 60px 120px 30px;
            .info-content-wrap{
                max-width: 1200px;
                .info-content-header{
                    margin-bottom: 45px;
                    .info-header-top{
                        margin-top: 5px;
                        margin-bottom: 16px;
                    }
                    .info-header-bottom{
                        .option-wrap {
                            .span-option {
                                font-size: .875rem;
                            }
                            .data{
                                .data-wrap {
                                    span{
                                        font-size: .938rem;
                                        padding: 8px 45px 7px 15px !important;
                                        &:after{
                                            font-size: 1.525rem;
                                            top: -1px;
                                        }
                                    }
                                    ul.ul-dropdown li {
                                        font-size: .938rem;
                                    }
                                }
                            }  
                            .chart {
                                margin-left: 55px;
                               .chart-wrap { 
                                    span{
                                        font-size: .938rem;
                                    }
                               }
                            }
                        }
                    }
                } 
                .info-slider{
                    .download-icon-image {
                        img {
                            width: 22px;
                            height: 22px;
                        }
                    }
                     .slider-container{
                        .slick-prev, .slick-next{
                            width: 40px;
                            height: 40px;
                            &::before{
                                font-size: 24px;
                            }
                        }
                    } 
                } 
                .info-content-footer {
                    @include radius(10px);
                    padding: 25px 40px;
                }
            }
        }
    }
}

@media #{$breakpoint-xl}{
    .content{
        .sidebar{
            ul.sidebar-li, ul.date-list {
                h2{
                    font-size: .693rem;
                }
            }
        } 
        .info-content{
            // padding: 40px 65px 20px;
            padding-left: 0 65px;
            .info-content-wrap{
                max-width: 850px;
                .info-content-header{
                    .info-header-bottom{
                        .option-wrap {
                            .span-option {
                                font-size: .656rem;
                            }
                            .data{
                                .data-wrap {
                                    span{
                                        font-size: .703rem;
                                        
                                    }
                                    ul.ul-dropdown li {
                                        font-size: .703rem;
                                    }
                                }
                            }  
                            .chart {
                               .chart-wrap { 
                                    span{
                                        font-size: .703rem;
                                    }
                               }
                            }
                        }
                    }
                } 
                .info-slider{
                    .download-icon-image {
                        img {
                            width: 18px;
                            height: 18px;
                        }
                    }
                } 
                .info-content-footer {
                    .span_book_14 {
                        line-height: 1.3;
                    }
                }

            }
        }
    }
}

@media #{$breakpoint-ls}{
    .content{
        .sidebar{
            width: 180px;
            ul.sidebar-li, ul.date-list{
                h2{
                    font-size: .625rem;
                    margin-bottom: 5px;
                }
            }
            ul.date-list{
                li {
                    padding: 2px 10px;
                    margin-left: 20%;
                }
                h2{
                    margin-bottom: 10px;
                    font-size: .625rem;
                }
            }

        }
        .info-content{
            width: calc(100% - 180px);
            padding: 40px 0 20px 55px;
            .info-content-wrap{
                max-width: 700px;
                .info-content-header{
                    margin-bottom: 0;
                    .info-header-top {
                        margin-top: 4px;
                        margin-bottom: 15px;
                    }
                    .info-header-bottom {
                        .option-wrap {
                            .data{
                                span{
                                    font-size: .593rem;
                                }
                                .data-wrap span{
                                    font-size: .625rem;
                                    &:after{
                                        top: -3px;
                                        font-size: 1.05rem;
                                    }
                                }
                            } 
                            .chart {
                                .chart-wrap {
                                    span{
                                        font-size: .625rem;
                                        // padding: 3px 15px;
                                    }
                                }
                            }
                        }
                    }
                }
                .info-slider{
                    .slider-container{
                        .slick-prev, .slick-next{
                            width: 20px;
                            height: 20px;
                            &:before{
                                font-size: 12px;
                            }
                        }
                        .slick-prev{
                            left: -4%;
                        }
                        .slick-next{
                            right: -4%;
                        }
                    } 
                    .download-icon-image {
                        top: 25px;
                        img {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
                .info-content-footer{
                    margin-top: 15px;
                }
            }
        }
    }
}

@media #{$breakpoint-lg}{
    .content{
        .sidebar{
            width: 150px;
        }
        .info-content{
            width: calc(100% - 150px);
            padding: 45px 45px 22.5px;      
            .info-content-wrap{
                max-width: 650px;
                .info-content-header{
                    .info-header-top{
                        margin-top: 8px;
                        span.span_black_15 {
                            letter-spacing: 1px;
                        }
                    } 
                    .info-header-bottom {
                        .option-wrap {
                            .span-option{
                                margin-right: 6px;
                                font-size: .525rem;
                            }
                            .data, .chart{
                                .data-wrap, .chart-wrap{
                                    span{
                                        font-size: .563rem;
                                        &::after{
                                            font-size: 1rem;
                                        }
                                    }
                                    ul.ul-dropdown{
                                        li {
                                            font-size: .563rem;
                                        }
                                    } 
                                } 
                            } 
                        }
                    }
                }
            }
        }
        .sidebar {
            ul.sidebar-li{
                h2{
                    padding: 11px 0px 11px 40px;
                    font-size: .625rem;
                }
                li{
                    padding: 8px 0px 8px 40px;
                }
            }
            ul.date-list{
                h2{
                    font-size: .625rem;
                    padding: 11px 0px 11px 40px;
                }
                li{
                    margin-left: 5%;
                }
            }
        }
    } 
}

@media #{$breakpoint-pt}{
    .content{
        .sidebar {
            margin-left: 0px;
            z-index: 1;
            width: 150px;
            ul.sidebar-li {
                h2{
                    font-size: .688rem;
                    margin-bottom: 10px;
                }
                li{
                    ul.sidebar-sublist{
                        margin-top: .75rem;
                        li{
                            margin-bottom: .5rem;
                        }
                    }
                }
            }
            ul.date-list{
                margin-top: 30px;
                li {
                    margin-left: 0%;
                    padding: 2px 8px;
                    .clear{
                        font-size: 11px;
                    }
                }
                h2{
                    font-size: .688rem;
                }
                
            }
        }
        .info-content{
            a.toggle_button{
                visibility: visible;
            }
            margin-left: -150px;
            // width: calc(100% - 150px);
            width: 100%;
            padding: 45px 45px 22.5px;
            .info-content-wrap{
                width: 100%;
                .info-content-header{
                    margin-bottom: 5px;
                    .info-header-top{
                        h3{
                            margin-bottom: 6px;
                        }
                        margin: 10px 0;
                    }
                    .info-header-bottom {
                        .option-wrap{
                            .chart{
                                .chart-wrap span {
                                    padding: 2px 20px 2px;
                                }
                            }
                        }
                    }
                }
                .info-slider {
                    .slider-container{ 
                        .slick-prev{
                            left: -3%;
                        }
                        .slicko-next{
                            right: -3%;
                        }
                    } 
                }
            }
        }
    }
}

@media #{$breakpoint-sm}{
    .content {
        .sidebar{
            ul.sidebar-li, ul.date-list{
                h2 {
                    font-size: .6rem;
                }
            }  
            ul.date-list{
                li{
                    padding: 1px 8px;
                }

            }
        } 
        .info-content {
            a.toggle_button i {
                font-size: 15px;
            }
            .info-content-wrap {
                .info-content-header  {
                    margin-bottom: 0;
                }
                .info-content-footer{
                    padding: 15px 20px;
                }
                .info-slider{
                    .slider-container{
                        .slick-prev, .slick-next{
                            top: 13rem;
                        }
                    }
                }
            }
        }
    }
}

@media #{$breakpoint-xs}{
    .content{
        .info-content{
            padding: 45px 35px 22.5px;
            .info-content-wrap {
                .info-content-header{
                    .info-header-top{
                        margin: 12px 0;
                        @include flex-direction-column(column);
                        @include align-items-start;
                    }
                    .info-header-bottom{
                        .option-wrap{
                            @include flex-direction-column(column);
                            @include align-items-start;
                            .chart{
                                margin-top: 8px;
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        } 
    } 
}