/*===========================
    1.Banner 
===========================*/

.banner-header {
    text-align: center;
    margin-bottom: 3rem;

    .banner-title {
        margin: 0 auto 1.25rem;
        max-width: 950px;
        color: $yellow-color;
        text-transform: capitalize;
        @media #{$breakpoint-xxl} {
            font-size:2.5rem;
            line-height:1.5;
        }

        span.small {
            text-transform: lowercase;
        }

        span.abbr {
            text-transform: uppercase;
        }
    }
}


/*===========================
    2. content
===========================*/
.home-content {
    padding-top: 120px;
    padding-bottom: 70px;

    .content-title {
        text-align: center;
        margin-bottom: 3rem;

        h2 {
            color: $text-color;
            margin-bottom: 10px;
            text-transform: capitalize;

            @media screen and(max-width:1400px) {
                margin-bottom: 0;
                font-size: 40px;
            }
        }

        p {
            color: $primary-light;
        }
    }

    .content-tools {
        max-width: 1480px;
        margin: 0 auto;
        background: $bg-color;

        .tools-list {
            @include display-flex(flex);
            @include justify_content_center;

            .tools-intro {
                border: 1px solid $primary-xs-light;
                background-color: $color-pink-light;
                @include radius(5px);
                padding: 15px 12px;
                margin: 0 auto;
                text-align: center;
                position: relative;
                min-height: 220px;

                @media screen and(max-width:1400px) {
                    min-height: 200px;
                }

                .info {

                    // height: calc(100% - 23%);
                    h4 {
                        text-transform: capitalize;
                        margin-bottom: 14px;
                        color: $red-bright;
                        font-size: 22px;

                        @media screen and(max-width:1400px) {
                            font-size: 20px;
                        }

                    }

                    .lists {
                        margin-top: 15px;

                        li.span_heavy_15 {
                            line-height: 1.5rem;
                            // max-width: 180px;
                            text-align: center;
                            color: $text-color;
                            text-transform: capitalize;

                            span {
                                text-transform: lowercase;
                            }
                        }
                    }
                }

                button {
                    border: 0;
                    display: block;
                    padding: 8px 20px;
                    background: $white-color;
                    cursor: pointer;
                    @include transition(all .4s ease-in-out);

                    &.deny_button {
                        span {
                            &::before {
                                content: 'lock';
                                font-family: 'Material Icons';
                                color: $primary-light;
                                font-size: 18px;
                                line-height: 1.375rem;
                                position: relative;
                                padding-right: 10px;
                                top: 3px;
                            }
                        }
                    }

                    &.access_button {
                        span {
                            color: $primary-color;

                            &::before {
                                content: 'lock_open';
                                font-family: 'Material Icons';
                                color: $primary-light;
                                font-size: 18px;
                                line-height: 1.375rem;
                                position: relative;
                                padding-right: 10px;
                                top: 3px;
                            }
                        }

                        &:hover {
                            background-color: $yellow-color;

                        }
                    }

                    span {
                        color: $primary-light;
                        line-height: 1.5rem;
                        // padding: 16px 30px 15px 30px;
                    }

                }

                .span_book_14 {
                    margin: 1rem auto;
                }

                a {
                    display: inline-block;
                    color: $primary-light;
                    cursor: pointer;

                    span {
                        color: $orange-color;
                        text-decoration: underline;
                    }

                    span.view {
                        color: $red-hover;
                        text-decoration: none;
                    }
                }

                @media screen and(max-width:1400px) {
                    button {
                        padding: 5px 15px;
                    }

                    .span_book_14 {
                        margin-bottom: 0;
                    }
                }

            }
        }

        .sakchyam-card {
            position: relative;
        }

        img.grid-img {
            // position: absolute;
            // left: 0;
            // right: 0;
            // bottom:-60%;
            margin-top: -35%;
            position: relative;
            z-index: 9;
        }
    }

    .data-portals {
        max-width: 1170px;
        margin: 0 auto;
        padding: 40px 20px 92px 70px;
        @include radius(5px);
        position: relative;
        top: 180px;
        background: linear-gradient(289deg, $red-bright, $dark-red);

        h2 {
            color: $yellow-color;
        }

        p {
            color: $white-color;
            margin: 10px 0 45px;
        }

        button {
            @include transition(all .4s ease-in-out);
            display: block;
            cursor: pointer;
            width: 160px;
            height: 50px;
            border: 0;
            background: $white-color;
            ;

            a.span_heavy_15 {
                color: $primary-color;
            }

            &:hover {
                background: $yellow-color;
            }
        }

        .data-sidebg {
            position: absolute;
            top: 13px;
            max-width: 250px;
            right: 5rem;
        }
    }
}
@media (min-width: 280px) {
    .col-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (min-width: 480px) {
    .col-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (min-width: 768px) {
    .col-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media screen and(min-width:992px) {
    .col-5 {
        @include flex(0 0 25%);
        max-width: 25%;
    }
}

@media screen and(min-width:1200px) {
    .col-5 {
        @include flex(0 0 20%);
        max-width: 20%;
    }
}



@media #{$breakpoint-xxl} {
    .home-content {
        .content-tools {
            max-width: 1250px;

            .data-portals {
                max-width: 900px;

                .data-sidebg {
                    position: absolute;
                    top: 27px;
                    max-width: 235px;
                    right: 2rem;
                }
            }
        }
    }
}

@media #{$breakpoint-xl} {
    .home-content {
        .content-tools {
            max-width: 1100px;

        }
    }
}

@media #{$breakpoint-ls} {
    .home-content {
        .content-tools {
            max-width: 900px;

            .data-portals {
                max-width: 800px;

                .data-sidebg {
                    top: 40px;
                    max-width: 220px;
                    right: 1rem;
                }
            }
        }
    }
}

@media #{$breakpoint-lg} {
    .home-content {
        padding-top: 100px;

        .data-portals {
            max-width: 730px;

            h2 {
                position: relative;
                z-index: 1;
            }

            .data-sidebg {
                opacity: .4;
                top: 27px;
                right: 2rem;
                max-width: 220px;
            }
        }
    }
}

@media #{$breakpoint-pt} {
    .home-content {
        padding-top: 80px;

        .content-tools {
            padding: 0 12px;

            .data-portals {
                padding: 30px 20px 30px 40px;
                max-width: 600px;

                .data-sidebg {
                    top: 17px;
                }
            }
        }
    }
}

@media #{$breakpoint-xs} {
    .home-content {
        padding-top: 50px;

        .content-tools {
            .data-portals {
                .data-sidebg {
                    display: none;
                }
            }
        }
    }
}

@media #{$breakpoint-xxs} {
    .home-content {
        padding-top: 30px;
    }
}




/*===========================
    3.footer
===========================*/

footer {
    padding: 160px 0 25px;
    background: $white-color;

    .footer-info {
        @include display-flex(flex);
        max-width: 1170px;
        margin: 0 auto;

        .info-logo {
            margin-right: 188px;

            img.main-logo {
                max-width: 200px;
            }

            span.span_book_15 {
                margin: 20px 0 50px;
                display: block;
                color: $primary-light;
                max-width: 280px;
            }

            .logo-wrap {
                @include display-flex(flex);

                .logo-img {
                    &:first-child {
                        padding-right: 30px;
                        border-right: 2px solid $primary-xs-light;

                        img {
                            max-width: 82px;
                            width: 100%;
                            height: 65px;
                        }
                    }

                    &:last-child {
                        padding-left: 30px;

                        img {
                            max-width: 57px;
                            width: 100%;
                            height: 63px;
                        }
                    }
                }
            }
        }

        .info-points {
            margin-right: 120px;

            span.span_heavy_13 {
                color: $color-blue;
                display: block;
                margin-bottom: 20px;
                text-transform: uppercase;
            }

            .flex-points-wrap {
                @include display-flex(flex);

                ul {
                    &:first-child {
                        margin-right: 80px;
                    }

                    li.span_heavy_15 {
                        line-height: 1.5rem;
                        color: $text-color;
                        text-transform: capitalize;
                    }
                }
            }
        }

        .contact {
            ul {
                li.span_heavy_15 {
                    color: $text-color;
                    line-height: 1.5rem;
                }
            }
        }
    }

    .footer-copy {
        max-width: 1170px;
        margin: 0 auto;
        @include display-flex(flex);
        @include justify-content-between;
        margin-top: 40px;

        span {
            display: block;
            color: $primary-light;

            &:first-child {
                text-decoration: none;
            }

            &:last-child {
                text-decoration: underline;

                span.border-span {
                    text-decoration: none !important;
                    padding-left: 3px;
                    padding-right: 3px;
                    display: inline-block;
                }
            }
        }
    }
}

@media #{$breakpoint-xxl} {
    footer {

        .footer-info,
        .footer-copy {
            max-width: 900px;
        }

        .footer-info {
            .info-logo {
                margin-right: 60px;
            }

            .info-points {
                margin-right: 55px;

                .flex-points-wrap {
                    ul {
                        &:first-child {
                            margin-right: 35px;
                        }
                    }
                }
            }
        }
    }
}

@media #{$breakpoint-ls} {
    footer {

        .footer-info,
        .footer-copy {
            max-width: 800px;
        }
    }
}

@media #{$breakpoint-lg} {
    footer {
        padding: 160px 30px 25px;

        .footer-info {
            max-width: 760px;

            .info-logo {
                margin-right: 70px;
            }

            .info-points {
                margin-right: 50px;

                .flex-points-wrap {
                    ul {
                        &:first-child {
                            margin-right: 30px;
                        }
                    }
                }
            }
        }

        .footer-copy {
            max-width: 760px;
        }
    }
}

@media #{$breakpoint-pt} {
    footer {
        .footer-info {
            max-width: 600px;
            @include flex-direction-column(column);

            .info-logo {
                margin-right: 0;
                margin-bottom: 60px;

                span.span_book_15 {
                    margin: 20px 0 40px;
                }
            }

            .info-points {
                margin-right: 0;
                margin-bottom: 40px;

                .flex-points-wrap {
                    ul {
                        &:first-child {
                            margin-right: 40px;
                        }
                    }
                }
            }
        }

        .footer-copy {
            max-width: 600px;
            @include flex-direction-column(column);

            span {
                &:first-child {
                    margin-bottom: 5px;
                }
            }
        }
    }
}

@media #{$breakpoint-sm} {
    footer {
        .footer-info {
            max-width: 400px;

            .info-logo {
                margin-right: 0;
                margin-bottom: 60px;

                span.span_book_15 {
                    margin: 20px 0 40px;
                }

                img.main-logo {
                    max-width: 170px;
                }

                .logo-wrap {
                    .logo-img {
                        &:first-child {
                            padding-right: 25px;

                            img {
                                max-width: 65px;
                                height: 55px;
                            }
                        }

                        &:last-child {
                            padding-left: 25px;

                            img {
                                max-width: 50px;
                                width: 100%;
                                height: 55px;
                            }
                        }
                    }
                }
            }

            .info-points {
                margin-right: 0;
                margin-bottom: 40px;

                .flex-points-wrap {
                    ul {
                        &:first-child {
                            margin-right: 25px;
                        }
                    }
                }
            }
        }

        .footer-copy {
            max-width: 400px;

            span {
                &:first-child {
                    margin-bottom: 5px;
                }
            }
        }
    }
}


.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: auto;
    bottom: -4rem;
    display: block;
    width: 40px;
    height: 34px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    border: 1px solid $white-color;
    @include radius(5px);
}

.slick-prev {
    left: 46%;
}

.slick-next {
    right: 46%;
}

.slick-dots {
    display: none;
}