.acc {
    .acc-list {
        .acc-header {
            position: relative;
            padding: 0.775rem 0;
            @include transition(all .5s ease-in-out);
            @include display-flex(flex);
            @include align-items-center;
            cursor: pointer;
            h5{
                flex-grow: 1;
                font-size:.875rem;
                text-transform: capitalize;
            }
            &::after,&::before {
                font-size: 1rem;
                font-family: 'Material Icons';
                color: $primary-color;
                z-index: 99;
                line-height: 1;
                @include display-flex(flex);
                @include justify-content-center;
                @include align-items-center;
                @include flex-direction-column(column);
                
                @include radius(100%);
                
            }
            &.is-between{
                @include display-flex(flex); 
                @include align-items-center; 
                @include justify-content-between;
            }
            &.no-pseudo {
                &::after,&::before {
                    display: none;
                }
            }

            
            .custom-checkbox {
                margin: 0;

                label {
                    font-size: .875rem;
                    font-weight: 600;
                }
            }
        }

        .acc-body {
            display: none;
            padding: .5rem 0;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            max-height: 500px;


            &::-webkit-scrollbar {
                width: 4px;
                background: $border-color;
                @include radius(4px);
            }

            &::-webkit-scrollbar-track {
                background-color: $border-color;
                @include radius(4px);
            }

            &::-webkit-scrollbar-thumb {
                @include radius(4px);
                background: $color-blue;
            }

            ul {
                
                &.checkbox-list {
                    li {
                        a {
                            @include display-flex(flex);
                            @include justify-content-between;
                            @include align-items-center;
                            font-weight: 500;
                            color: $primary-color;
                            padding: .35rem .6125rem;

                            &:hover {
                                background-color: $secondary-light;
                            }

                            .custom-checkbox {
                                margin: 0;

                                label {
                                    font-size: .75rem;
                                    @include display-flex(flex);
                                    @include justify-content-start;
                                    @include align-items-center;
                                    font-weight: 400;

                                    i {
                                        font-size: 1.2rem;
                                        margin-right: .5rem;
                                    }

                                    @media screen and (max-width:1366px) {
                                        font-size: .775rem;

                                        i {
                                            font-size: 1rem;
                                        }
                                    }
                                }
                            }

                            span {
                                &.counter {
                                    color: $primary-color;
                                }
                            }
                        }
                    }
                }
                &.list{
                    li{
                        background-color: $white-color;
                        @include radius(5px);
                        @include transition(all .5s ease-in-out);
                        &:hover{
                            background-color: $primary-light;
                        }
                    }
                }
            }
        }
        &.is-bg{
            background-color: $bg-color;
            @include radius(5px);
            .acc-header{
                padding:.6125rem;
            }
            .acc-body{
                padding:0 .6125rem .6125rem .6125rem;
            }
        }
        &.active {
            .acc-header{
                h5 {
                    color: $primary-color;
                }
            }
            .acc-body{
                display: block;
            }
        }
        
    }
    &.is-start{
        @include justify-content-start;
    }
    &.is-end{
        @include justify-content-end;
    }
    &.is-between{
        @include justify-content-between;
    }
    &.is-before{
        .acc-list{
            .acc-hader{
                &::before {
                    content: 'arrow_drop_down';
                    margin-right: .5rem;
                }
            }
            &.active{
                .acc-header{
                    &::before{
                        content: 'arrow_drop_up';
                        margin-right: .5rem;
                    }
                }
            }
        }
    }
    &.is-after{
        .acc-list{
            .acc-header{
                &::after {
                    content: 'expand_more';
                    width:20px;
                    height: 20px;
                    border:1px solid $border-color;
                    margin-left: .6125rem;
                    i{
                        font-size:1rem;
                    }
                }
            }
            &.active {
                .acc-header{
        
                    &::after {
                        content: 'expand_less';
                        border-color: $color-blue;
                        color:$color-blue;
                    }
                }
    
            }
        }
    }

    &.is-border{
        border:1px solid $border-color;
        @include radius(4px);
        .acc-list{
            
            .acc-header{
                border-bottom: 1px solid $border-color;
                padding:.5rem .6125rem;
            }
            .acc-body{
                padding:0;
                ul{
                    li{
                        padding-left: 2.2rem;
                        a{
                            text-transform: capitalize;
                            color:$primary-light;
                        }
                        &:not(:last-child){
                            margin-bottom: 0;
                        }
                    }
                }
            }
            &:not(:last-child){
                border-bottom: 1px solid $border-color;
        
            }
        }
    }
}