.login-page{
    .login-wrapper{
        aside.login-sidebar{
            width: 810px;
            float: left;
            background: $red-color;
            height: 100%;
            // padding: 64px 30px 30px 67.5px;
            .top-wrap{
                padding: 64px 30px 0px 67.5px;
                .aside-header{
                    margin-bottom: 67.5px;
                    img{
                        max-width: 152px;
                        width: 100%;
                    }
                }
                .aside-content{
                    // margin-bottom: 75px;
                    h2{
                        color: $white-color;
                        max-width: 365px;
                        width: 100%;
                        margin-bottom:  18px;
                        text-transform: capitalize;
                        line-height: 1.1;
                        span{
                            text-transform: lowercase;
                        }
                    }
                    span{
                        color: $white-color;
                        max-width: 410px;
                        width: 100%;    
                    }
                    
                }
            }
            .bottom-wrap{
                height: calc(100% - 242px);
                padding: 0px 30px 0px 67.5px;
                @include display-flex(flex);
                @include flex-direction-column(column);
                @include justify-content-center;
                position: relative;
                .image-content{
                    @include display-flex(flex);
                    img{
                        position: relative;
                        top: -6px;
                        width: 250px;
                        margin: 0 auto;
                    }
                }
                .aside-footer{
                    @include display-flex(flex);
                    @include justify-content-between;
                    position: relative;
                    top: 1rem;
                    span{
                        font-size: 10.5px;
                        display: block;
                        color: $primary-xs-light;
                        text-decoration: underline;
                        &:first-child{
                            text-decoration: none;
                        }
                        &:last-child{
                            span.border-span{
                                text-decoration: none !important;
                                padding-left: 3px;
                                padding-right: 3px;
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
        main.main-section{
            width: calc(100% - 810px);
            float: right;
            background-color: $bg-color;
            height: 100%;
            @include display-flex(flex);
            @include align_items_center;
            .login-content{
                position: relative;
                max-width: 420px;
                width: 100%;
                margin: 0 auto;
                .login-header{
                    margin-bottom: 67.5px;
                    h2{
                        text-transform: capitalize;
                        margin-bottom: .938rem;
                    }
                    span{
                        text-transform: capitalize;
                    }
                }
                .login-form{
                    width: 100%;
                    .form-group{
                        margin-bottom: 0;
                        &:first-child{
                            margin-bottom: 31.5px;
                        }
                        label{
                            margin-bottom: .703rem;
                            margin-left: 12px;
                        }
                        input.form-control{
                            width: 100%;
                            color: $primary-light;
                            @include radius(18.5px);
                            padding: .75rem 0 .656rem .938rem;
                            border: .4px solid $primary-xs-light;
                            &:focus{
                                background: $white-color;
                                color: $text-color;
                                @include box-shadow(0 0 5px 0 $primary-xs-light);
                            }
                        }
                        &.checkbox{
                            margin: 15px 0 31.5px;
                            input[type="checkbox"]{
                                &:checked{
                                    ~label{
                                        background-color: transparent;
                                        color: $primary-light;
                                    }
                                }
                            } 
                            label{
                                margin-bottom: 0;
                                color: $primary-light;
                                padding-left: 20px;
                                &::before, 
                                &::after{  
                                    width: 13.5px;
                                    height: 14.25px;
                                    left: 0;
                                    top: 3px;
                                }
                                &::before{
                                    border: 1px solid $primary-light;
                                }
                            }
                        }
                    }
                    .btn-wrap{
                        button{
                            padding: 12px 0 9.75px;
                            width: 100%;
                            background-color: $red-color;
                            @include transition(all .4s ease-in-out);
                            border: 0;
                            margin-bottom: 12px;
                            cursor: pointer;
                            &:hover{
                                background: $red-bright;
                            }
                            a{
                                color: $white-color;
                                display: block;
                                &:hover{
                                    font-family: $avenir-heavy;
                                }
                            }
                        }
                        span{
                            display: block;
                            width: 100%;
                            text-align: center;
                            color: $primary-light;
                            
                        }
                    }
                }
                .login-footer{
                    position: relative;
                    top: 3rem;
                    text-align: center;
                    img{
                        &:first-child{
                            max-width: 94px;
                            width: 100%;
                            height: 50px;
                            padding-right: 26px;
                            border-right: 2px solid $primary-xs-light;
                        }
                        &:last-child{
                            max-width: 74px;
                            width: 100%;
                            height: 56px;
                            padding-left: 26px;
                        }
                    }
                }
            }
        }
           
    }
}

@media #{$breakpoint-xl}{
    .login-page{
        .login-wrapper{
            aside.login-sidebar{
                width: 720px;
                // padding: 56px 26px 26px 60px;
                .top-wrap{
                    padding: 56px 26px 0px 60px;
                    .aside-header{
                        margin-bottom: 60px;
                        img{
                            max-width: 135px;
                            width: 100%;
                        }
                    }
                    .aside-content{
                        // margin-bottom: 66px;
                        h2{
                            max-width: 330px;
                            margin-bottom:  16px;
                        }
                        span{
                            max-width: 362px;
                        }
                    }
                }
                .bottom-wrap{
                    padding: 0px 26px 0px 60px;
                    height: calc(100% - 255px);
                    .aside-footer{
                        span{
                            font-size: 9px;
                        }
                    }
                }
            }
            main.main-section{
                width: calc(100% - 720px);
                .login-content{
                    max-width: 372px;
                    .login-header{
                        margin-bottom: 46px;
                        h2{
                            margin-bottom: 13px;
                        }
                    }
                    .login-form{
                        width: 100%;
                        .form-group{
                            &:first-child{
                                margin-bottom: 20px;
                            }
                            label{
                                margin-bottom: 8px;
                                margin-left: 12px;
                            }
                            input.form-control{
                                @include radius(16.5px);
                                padding: 7px 0 6px 13px;
                            }
                            &.checkbox{
                                margin: 8px 0 22px;
                                label{
                                    padding-left: 20px;
                                    &::before, 
                                    &::after{  
                                        width: 12px;
                                        height: 12.5px;
                                        left: 0;
                                        top: 3px;
                                    }
                                }
                            }
                        }
                        .btn-wrap{
                            button{
                                padding: 8px 0 6px;
                                margin-bottom: 6px;
                                a{
                                    font-size: .625rem;
                                }
                            }
                        }
                    }
                    .login-footer{
                        img{
                            &:first-child{
                                max-width: 82px;
                                height: 46px;
                                padding-right: 24px;
                                border-right: 1px solid $primary-xs-light;

                            }
                            &:last-child{
                                max-width: 64px;
                                height: 44px;
                                padding-left: 24px;
                            }
                        }
                    }

                }
            }
        }
    }
}

@media #{$breakpoint-tab}{
    .login-page{
        .login-wrapper{
            aside.login-sidebar{
                width: 650px;
            }
            main.main-section{
                width: calc(100% - 650px);
            }
        }
    }
}

@media #{$breakpoint-ls}{
    .login-page{
        .login-wrapper{
            aside.login-sidebar{
                width: 520px;
                // padding: 56px 26px 26px 60px;
                .top-wrap{
                    padding: 56px 26px 0px 60px;
                    .aside-header{
                        margin-bottom: 60px;
                        img{
                            max-width: 135px;
                            width: 100%;
                        }
                    }
                    .aside-content{
                        // margin-bottom: 66px;
                        h2{
                            max-width: 330px;
                            margin-bottom:  16px;
                        }
                        span{
                            max-width: 362px;
                        }
                    }
                }
                .bottom-wrap{
                    padding: 0px 26px 0px 60px;
                    height: calc(100% - 255px);
                    .aside-footer{
                        span{
                            font-size: 9px;
                        }
                    }
                }
            }
            main.main-section{
                width: calc(100% - 520px);
                .login-content{
                    max-width: 372px;
                    .login-header{
                        margin-bottom: 46px;
                        h2{
                            margin-bottom: 13px;
                        }
                    }
                    .login-form{
                        width: 100%;
                        .form-group{
                            &:first-child{
                                margin-bottom: 20px;
                            }
                            label{
                                margin-bottom: 8px;
                                margin-left: 12px;
                            }
                            input.form-control{
                                @include radius(16.5px);
                                padding: 7px 0 6px 13px;
                            }
                            &.checkbox{
                                margin: 8px 0 22px;
                                label{
                                    padding-left: 20px;
                                    &::before, 
                                    &::after{  
                                        width: 12px;
                                        height: 12.5px;
                                        left: 0;
                                        top: 3px;
                                    }
                                }
                            }
                        }
                        .btn-wrap{
                            button{
                                padding: 8px 0 6px;
                                margin-bottom: 6px;
                                a{
                                    font-size: .625rem;
                                }
                            }
                        }
                    }
                    .login-footer{
                        img{
                            &:first-child{
                                max-width: 82px;
                                height: 46px;
                                padding-right: 24px;
                                border-right: 1px solid $primary-xs-light;

                            }
                            &:last-child{
                                max-width: 64px;
                                height: 44px;
                                padding-left: 24px;
                            }
                        }
                    }

                }
            }
        }
    }
}

@media #{$breakpoint-lg}{
    .login-page{
        .login-wrapper{
            aside.login-sidebar{
                width: 480px;
                // padding: 56px 26px 26px 60px;
                .top-wrap{
                    padding: 56px 26px 0px 60px;
                    .aside-header{
                        margin-bottom: 60px;
                        img{
                            max-width: 135px;
                            width: 100%;
                        }
                    }
                }
                .bottom-wrap{
                    padding: 0px 26px 0px 60px;
                    height: calc(100% - 255px);
                    .image-content {
                        img {
                            width: 200px;
                        }
                    }
                }
            }
            main.main-section{
                width: calc(100% - 480px);
                .login-content{
                    max-width: 320px;
                    .login-form{
                        width: 100%;
                        .form-group{
                            &:first-child{
                                margin-bottom: 10px;
                            }
                        }
                        .btn-wrap{
                            button{
                                padding: 8px 0 6px;
                                margin-bottom: 6px;
                                a{
                                    font-size: .625rem;
                                }
                            }
                        }
                    }
                    .login-footer {
                        top: 1.5rem;
                    }
                }
            }
        }
    }
}

@media #{$breakpoint-pt}{
    .login-page{
        .login-wrapper{
            aside.login-sidebar{
                width: 100%;
                .top-wrap {
                    .aside-header {
                        margin-bottom: 45px;
                    }
                    .aside-content{
                        margin-bottom: 12px;
                    }
                }
                .bottom-wrap{
                    .aside-footer {
                        top: 1rem;
                    }
                    .image-content {
                        img {
                            top: 0;
                            width: 225px;
                        }
                    }
                } 
            }
            main.main-section{
                width: 100%;
                .login-content{
                    max-width: 372px;
                    .login-header{
                        margin-bottom: 25px;
                        h2{
                            margin-bottom: 0;
                        }
                    }
                    .login-form{
                        width: 100%;
                        .form-group{
                            &:first-child{
                                margin-bottom: 16px;
                            }
                            label{
                                margin-bottom: 5px;
                            }
                            input.form-control{
                                @include radius(16.5px);
                                padding: 7px 0 6px 13px;
                            }
                            &.checkbox{
                                margin: 8px 0 22px;
                                label{
                                    padding-left: 20px;
                                    &::before, 
                                    &::after{  
                                        width: 12px;
                                        height: 12.5px;
                                        left: 0;
                                        top: 2px;
                                    }
                                }
                            }
                        }
                        .btn-wrap{
                            button{
                                padding: 8px 0 6px;
                                margin-bottom: 6px;
                                a{
                                    font-size: .625rem;
                                }
                            }
                        }
                    }
                    .login-footer{
                        top: 2rem;
                        img{
                            &:first-child{
                                max-width: 62px;
                                height: 36px;
                                padding-right: 18px;
                            }
                            &:last-child{
                                max-width: 54px;
                                height: 34px;
                                padding-left: 18px;
                            }
                        }
                    }

                }
            }
        }
    }
}

@media #{$breakpoint-xs}{
    .login-page{
        .login-wrapper{
            aside.login-sidebar{
                .top-wrap {
                    .aside-header {
                        margin-bottom: 30px;
                    }
                }
            }
            main.main-section{
                .login-content{
                    max-width: 300px;
                    .login-form{
                        .form-group{
                            input.form-control{
                                padding: 5px 0 4px 13px;
                            }
                        }
                        .btn-wrap{
                            button{
                                padding: 6px 0 4px;
                                margin-bottom: 4px;
                                a{
                                    font-size: .525rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

